ul {
  list-style-type: none;
}
li {
  padding: 10px;
}
.cartIcon h3 {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.cart-container {
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  height: 400px;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background: yellowgreen;
  color: #fbeaeb;
}
.cart-actions {
  color: white;
  font-size: 20px;
  width: 50px;
  border: none;
  background: rgb(10, 7, 24);
}
