.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}
button {
  margin-top: 25px;
  margin-bottom: auto;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: rgba(21, 26, 42, 0.787);
}
.card {
  width: 250px;
  height: 250px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ccc;
}
.card img {
  width: 90%;
  height: 40%;
}
.card > p {
  padding: 10px;
  font-size: 30px;
}
.card:hover {
  box-shadow: 10px 10px 20px #ccc;
}

.orderBtn {
  width: 200px;
  background: orangered;
  border: none;
  cursor: pointer;
}
.orderBtn:hover {
  background: rgb(89, 0, 190);
}
